html {
    overflow-y: scroll;
}

body {
    margin: 10px 20px;
    font-family: sans-serif;
    font-size: 14px;
}

h2 {
    margin: 0 0 10px;
}

#params {
    float: left;
    margin-right: 40px;
}

#action-data {
    overflow: hidden;
}

.fields-set {
    margin: 5px 0;
}

#action-params {
    margin: 15px 0;
}

.action-data-param {
    margin: 10px 0;
}

.fields-table {
    border-collapse: collapse;
}

.fields-table td {
    padding: 0 5px 10px 0;
}

#params-form {
    margin-bottom: 30px;
}
